---
import Base from "../layouts/Base.astro";
import "../styles/global.css";
---

<Base>
  <p class="p-4">
    El pasado martes 6 de mayo del 2024 se llevo a cabo el examen filtro local
    de la FCAeI para el maratón de conocimientos ANFECA 2025 en el área de
    Informática Administrativa
  </p>
</Base>
